aiohttp
aiofiles
asyncio
dnspython
ffmpeg-python
future
git+https://github.com/adityacheats/downloader@master
motor
pillow
psutil
pyrogram==1.4.16
py-tgcalls==0.8.6
python-dotenv
requests
tgcrypto
wget==3.2
youtube-search
youtube-search-python
psycopg2-binary
APScheduler==3.7.0
ptable
prettytable
spotipy
yourls
speedtest-cli==2.1.3
humanize
urllib3==1.25.9
numpy
telegraph==1.4.1
sqlalchemy==1.3.23
pymongo 
heroku3
gitpython
emoji
google==3.0.0
google-search==1.1.1
googlesearch-python== 1.0.1
bs4
pymediainfo
gpytranslate
gtts
tracemoepy
textblob
